.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.89);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.StakingForm {
  margin-top: 42%;
}

.StackingButton{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stake{
  margin: 2.1%;
}

.refund{
  margin: 2.1%;
}
.App-link {
  color: #09d3ac;
}
